<form class="form-floating" action="" method="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-column flex-lg-row gap-lg-3">
    <mat-form-field appearance="outline" style="width: 100% !important;">
      <mat-label>الأسم الأول</mat-label>
      <input matInput type="text" name="firstName" formControlName="firstName" id="firstName" placeholder="اسم الطالب"
        aria-label=" اسم الطالب">
      <mat-icon matSuffix class="fa-regular fa-user"></mat-icon>
      <mat-error *ngIf="signupForm.get('firstName')?.touched && signupForm.get('firstName')?.invalid">
        <span *ngIf="signupForm.get('firstName')?.errors?.['pattern']" class="text-danger">الأسم يجب أن يكون 4 حروف على
          الأقل ولا
          يحتوي على أرقام</span>
        <span *ngIf="signupForm.get('firstName')?.errors?.['required']" class="text-danger">الأسم مطلوب</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100% !important;">
      <mat-label>الأسم الثاني</mat-label>
      <input matInput type="text" name="secondName" formControlName="secondName" id="secondName"
        placeholder="الأسم الثاني" aria-label="الأسم الثاني">
      <mat-icon matSuffix class="fa-regular fa-user"></mat-icon>
      <mat-error *ngIf="signupForm.get('secondName')?.touched && signupForm.get('secondName')?.invalid">
        <span *ngIf="signupForm.get('secondName')?.errors?.['required']" class="text-danger">الأسم الثاني مطلوب</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-column flex-lg-row gap-lg-3">
    <mat-form-field appearance="outline" style="width: 100% !important;">
      <mat-label>الأسم الأخير</mat-label>
      <input matInput type="text" name="lastName" formControlName="lastName" id="lastName" placeholder="اسم العائلة"
        aria-label=" اسم المعلم">
      <mat-icon matSuffix class="fa-regular fa-user"></mat-icon>
      <mat-error *ngIf="signupForm.get('lastName')?.touched && signupForm.get('lastName')?.invalid">
        <span *ngIf="signupForm.get('lastName')?.errors?.['required']" class="text-danger">الأسم مطلوب</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>عنوان البريد الإلكتروني</mat-label>
      <input matInput type="email" name="email" formControlName="email" id="email" placeholder="البريد الإلكتروني"
        aria-label="عنوان البريد الإلكتروني" required>
      <mat-icon matSuffix class="fa-solid fa-envelope"></mat-icon>
      <mat-error *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
        <span *ngIf="signupForm.get('email')?.errors?.['pattern']" class="text-danger">البريد الإلكتروني غير
          صالح</span>
        <span *ngIf="signupForm.get('email')?.errors?.['required']" class="text-danger">البريد الإلكتروني
          مطلوب</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-column flex-lg-row gap-lg-3">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>رقم تليفون الطالب</mat-label>
      <input matInput type="text" name="mobileNo" formControlName="mobileNo" id="mobileNo" placeholder="رقم الموبايل"
        aria-label="رقم تليفون الطالب">
      <mat-icon matSuffix class="fa-solid fa-mobile-screen-button"></mat-icon>
      <mat-error *ngIf="signupForm.get('mobileNo')?.touched && signupForm.get('mobileNo')?.invalid">
        <span *ngIf="signupForm.get('mobileNo')?.errors?.['pattern']" class="text-danger">رقم الهاتف يجب أن
          يكون من 11 رقم
          يبدأ بـ 010 أو 011 أو 012 أو 015</span>
        <span *ngIf="signupForm.get('mobileNo')?.errors?.['required']" class="text-danger">رقم الهاتف
          مطلوب</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>رقم واتساب الطالب</mat-label>
      <input matInput type="text" name="whatsAppNo" formControlName="whatsAppNo" id="whatsAppNo"
        placeholder="واتساب الطالب" aria-label=" واتساب الطالب">
      <mat-icon matSuffix class="fa-brands fa-whatsapp"></mat-icon>
      <mat-error *ngIf="signupForm.get('whatsAppNo')?.touched && signupForm.get('whatsAppNo')?.invalid">
        <span *ngIf="signupForm.get('whatsAppNo')?.errors?.['pattern']" class="text-danger">رقم الهاتف يجب أن
          يكون من 11 رقم
          يبدأ بـ 010 أو 011 أو 012 أو 015</span>
        <span *ngIf="signupForm.get('whatsAppNo')?.errors?.['required']" class="text-danger">رقم الهاتف
          مطلوب</span>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>تاريخ الميلاد</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="تاريخ الميلاد"
      aria-label="تاريخ الميلاد" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="signupForm.get('birthDate')?.touched && signupForm.get('birthDate')?.errors?.['required']"
      class="text-danger">تاريخ
      الميلاد مطلوب</mat-error>
  </mat-form-field>

  <div class="flex flex-column flex-lg-row gap-lg-3">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>كلمة المرور</mat-label>
      <input matInput type="password" name="password" formControlName="password" id="password" placeholder="كلمة المرور"
        aria-label="كلمة المرور">
      <mat-icon matSuffix class="fa-solid fa-key"></mat-icon>
      <mat-error *ngIf="isPasswordInvalid()">
        <span *ngIf="signupForm.get('password')?.errors?.['required']" class="text-danger">كلمة المرور
          مطلوبة</span>
        <span *ngIf="signupForm.get('password')?.errors?.['minlength']" class="text-danger">كلمة المرور يجب أن
          تكون على الأقل 8
          أحرف</span>
        <span *ngIf="signupForm.get('password')?.errors?.['weakPassword']" class="text-danger">كلمة المرور
          يجب أن تحتوي على حرف
          كبير وصغير ورقم ورمز خاص</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>تأكيد كلمة المرور</mat-label>
      <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword"
        placeholder="تأكيد كلمة المرور" aria-label="تأكيد كلمة المرور">
      <mat-icon matSuffix class="fa-solid fa-key"></mat-icon>
      <mat-error *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid">
        <span *ngIf="signupForm.get('confirmPassword')?.errors?.['required']" class="text-danger">تأكيد كلمة
          المرور مطلوب</span>
        <span *ngIf="signupForm.hasError('passwordMatched')" class="text-danger">كلمة المرور غير متطابقة</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-grid gap-lg-3 text-center mt-3">
    <button mat-button class="rounded-5 custom-button" type="submit">{{ 'إنشاء حساب' }}</button>
    <p>يوجد لديك حساب بالفعل؟ <a [routerLink]="['/login']" class="ms-1 text-second text-decoration-none"
        style="color: orange;">ادخل إلى حسابك الآن</a></p>
  </div>
</form>
