<section class="hero flex justify-content-center" AppearFromRight>
  <div class="container">
    <div class="flex">
      <div class="col-lg-6 image flex" id="image-container">
        <img src="/assets/images/ai_1715812915107.png" alt="teacher" class="w-75 me-auto" id="moving-image" />
      </div>

      <div class="col-lg-6 text-center text-lg-end">
        <div class="text rugrats">
          <h3 class="fw-bold">
            د/
          </h3>
          <h1 class="fw-bolder lh-lg">
            <span>محمود</span> إسماعيل
          </h1>
          <h3 class="fw-bold lh-lg">
            منصه تخص كل ما يتعلق بـ
          </h3>
          <h3 class="fw-bold lh-lg">
            علم <span>الجيولوجيا</span>
          </h3>

          <button mat-button routerLink="/login" class="btn rounded-2 main-btn fs-6 fw-bold flipped mt-5">
            <i class="fas fa-door-open"></i> تسجيل الدخول
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
