<section class="hero flex justify-content-center" AppearFromRight>
  <div class="background-image"></div>

  <div class="container">
    <div class="flex gap-0 gap-lg-5">
      <div id="moving-image">
        <!-- <img src="/assets/images/ai_1715812915107.png" alt="teacher" class="w-75 me-auto" id="moving-image" /> -->
        <app-hero-logo></app-hero-logo>
      </div>

      <div class="col-lg-6 text-center text-lg-end mb-5 mt-lg-5">
        <div class="text rugrats">
          <h2>
            دكتور
          </h2>
          <h1>
            محمود إسماعيل
          </h1>
          <h3>
            الدرجة النهائية فى مادة الجولوجيا
          </h3>

          <!-- <button mat-button routerLink="/login" class="btn rounded-2 main-btn fs-6 fw-bold flipped mt-5">
            <i class="fas fa-door-open"></i> تسجيل الدخول
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
