@use '@angular/material' as mat;
// @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Lemonada:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Readex+Pro:wght@160..700&display=swap');
@include mat.core();

$dr-mahmoud-platform-primary: mat.define-palette(mat.$indigo-palette);
$dr-mahmoud-platform-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$dr-mahmoud-platform-warn: mat.define-palette(mat.$red-palette);

$dr-mahmoud-platform-theme: mat.define-light-theme((color: (primary: $dr-mahmoud-platform-primary,
        accent: $dr-mahmoud-platform-accent,
        warn: $dr-mahmoud-platform-warn,
      )));

@include mat.all-component-themes($dr-mahmoud-platform-theme);

@font-face {
  font-family: 'Custom Font';
  src: url('assets/arfonts-motken-k-farnaz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  direction: rtl;
  // overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  // font-family: 'Custom Font', sans-serif;
  font-family: "El Messiri", sans-serif;
  // font-family: "Almarai", sans-serif;
}

.custom-font {
  font-family: 'Custom Font', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

:root {
  --secondary: rgb(24, 24, , 27);

  --border: rgb(66, 66, 66);

  --active: rgba(255, 255, 255, 0.04);

  --title: rgb(244, 244, 255);
  --subtitle: rgb(82, 82, 91);
  --bg: #212121;

  --icon-hover: #333;

  --loading: #b2b2b2;
  --checkbox: #cccccc4d;

  --bg-light: rgb(45, 45, 50);

  --btn1: linear-gradient(120deg, var(--color1), var(--color2));

  --btn2: linear-gradient(120deg, var(--green1), var(--green2));

  --color1: #FFC200;
  --color2: #FF9D00;
  --color3: #FF7300;

  --color4: #F1F4F4;

  --color5: #1976D3;
  --color6: #07448E;

  --green1: #067d68;
  --green2: #50d5b7;

  --red1: #D60000;
  --red2: #FF5353;

  --color2Shadow: rgba(246, 169, 27, 0.1);
}

.theme-light {
  --secondary: rgb(255, 255, , 255);

  --border: rgb(244, 244, 255);

  --active: rgba(0, 0, 0, 0.04);

  --title: rgb(39, 39, 42);
  --subtitle: rgb(161, 161, 170);

  --bg: #FBFBFB;

  --icon-hover: #d4d4d8;

  --loading: #f5f5f5;
  --checkbox: #ccccccba;

  --bg-light: rgb(205, 205, 200);
}

//custom buttons
.custom-button,
custom-checkbox.checked {
  color: #ffffff !important;
  background: var(--color1) !important;
  transition: 0.3s;
  border-radius: 20rem;
}

.custom-button:hover {
  background: var(--bg) !important;
  color: var(--bgHeader) !important;
  border: 1px solid var(--color2);
}

.green-button {
  color: #ffffff !important;
  background: linear-gradient(90deg, var(--green1, #f6d365), var(--green2, #fda085) 51%, var(--green1, #f6d365)) var(--x, 0)/ 200% !important;
  transition: 0.3s;
  border-radius: 20rem;
}

.red-button {
  color: #ffffff !important;
  background: linear-gradient(90deg, var(--red1, #f6d365), var(--red2, #fda085) 51%, var(--red1, #f6d365)) var(--x, 0)/ 200% !important;
  transition: 0.3s;
  border-radius: 20rem;
}

.custom-button:hover,
.green-button:hover,
.red-button:hover {
  --x: 100%;
}

.custom-button:disabled,
.green-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hidden {
  opacity: 0;
}

.section-border {
  border-radius: 10px;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--color6) 0px 0px 0px 1px;
  backdrop-filter: blur(10px);
}

@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
}

.slide-from-left {
  animation: slideFromLeft 1s forwards;
}

.slide-from-right {
  animation: slideFromRight 1s forwards;
}

@keyframes beating {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.beating-animation {
  animation: beating 3s infinite;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  border: 7px solid var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--subtitle);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$indigo-palette: (
  50: #fff,
  100: var(--color2),
  200: #201AD9,
  300: #4E49FF,
  400: #5c6bc0,
  500: #212121,
  600: var(--color2),
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  contrast: (50: rgba(#121212, 0.87),
    100: rgba(#121212, 0.87),
    200: rgba(#121212, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);


$light-primary: mat.define-palette($indigo-palette, 50);
$light-accent: mat.define-palette($indigo-palette, 100);
$light-warn: mat.define-palette($indigo-palette, 500);

$dark-primary: mat.define-palette($indigo-palette, 500);
$dark-accent: mat.define-palette($indigo-palette, 600);
$dark-warn: mat.define-palette($indigo-palette, 50);

$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

.theme-light {
  @include mat.all-component-colors($light-theme);
  background-color: #ffffff;
  color: #2B3445;
}

.theme-dark {
  @include mat.all-component-colors($dark-theme);
  background-color: #121212;
  color: #ffffff;
}

$EduNexProject-primary: mat.define-palette(mat.$indigo-palette);
$EduNexProject-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$EduNexProject-warn: mat.define-palette(mat.$red-palette);

$EduNexProject-theme: mat.define-light-theme((color: (primary: $EduNexProject-primary,
        accent: $EduNexProject-accent,
        warn: $EduNexProject-warn,
      )));


@include mat.all-component-themes($EduNexProject-theme);

mat-error {
  color: red !important;
}
