<section class="d-flex justify-content-center" dir="rtl">
  <div class="flex flex-column flex-lg-row row-gap-lg-3">
    <img src="/assets/images/login.jpg" alt="" class="login-image col-lg-4">

    <div class="d-flex flex-column justify-content-between gap-lg-0 gap-5 px-5 py-3 container h-100">
      <app-breadcrumb></app-breadcrumb>

      <div class="d-flex flex-column justify-content-center gap-4 form">
        <div class="text-center">
          <h3 class="text-second mb-3" style="color: orange; font-weight: 700;">انشئ حساب طالب الآن</h3>
          <h6 class="text-main font-24-bold">ادخل بياناتك بشكل صحيح للحصول علي افضل تجربة داخل الموقع</h6>
        </div>

        <app-student-sign-up-form></app-student-sign-up-form>
      </div>
    </div>
  </div>
</section>
