<div *ngIf="course">
  <app-course-details-header [course]="course"></app-course-details-header>

  <section>
    <div class="container d-flex flex-wrap gap-3 justify-content-between">
      <div class="content-container">
        <div class="course d-flex flex-column gap-2">
          <div class="flex gap-1 mb-2">
            <h3 class="m-0" style="font-weight: 700;">محتوي الكورس</h3>
            <button mat-icon-button (click)="createLectureDialog()">
              <mat-icon>note_add</mat-icon>
            </button>
          </div>

          <div class="flex crud-buttons w-100" *ngFor="let lecture of course?.lectures; let i = index">
            <div class="custom-expansion-panel" #panel>
              <div class="flex container">
                <div class="flex justify-content-between" style="width: 100%; cursor: context-menu;">
                  <div class="flex gap-3">
                    <button [routerLink]="['/lecture', lecture.id]" [queryParams]="{ courseId: course.id }"
                      class="title bg-transparent fw-semibold px-3 py-2">{{lecture.title}}</button>

                    <button mat-icon-button [matMenuTriggerFor]="menu" class="width-50 m-0">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                  </div>
                </div>

                <mat-menu #menu="matMenu" class="lecture-menu" AppearFromRight>
                  <button mat-menu-item (click)="addContentDialog('attachment', lecture.id)" style="direction: rtl;">
                    ملف
                  </button>
                  <button mat-menu-item (click)="addContentDialog('video', lecture.id)" style="direction: rtl;">
                    فيديو
                  </button>
                  <button mat-menu-item (click)="openExamDialog('PreExam', course!, lecture, i)"
                    style="direction: rtl;">
                    امتحان
                  </button>
                  <!-- <button mat-menu-item (click)="openExamDialog('Assignment', course!, lecture, i)"
                    style="direction: rtl;">
                    واجب
                  </button> -->
                </mat-menu>
              </div>

              <ng-container *ngIf="lecture">
                <ng-container *ngFor="let attachment of lecture.attachments">
                  <div class="flex crud-buttons gap-2">
                    <button mat-button class="d-flex justify-content-start gap-2">
                      <mat-icon style="color:var(--color1);">airplay</mat-icon>
                    </button>

                    <div class="flex">
                      <button mat-icon-button class="width-50 m-0 custom-icon-button" style="color: red;">
                        <mat-icon>delete</mat-icon>
                      </button>

                      <button mat-icon-button class="width-50 m-0 custom-icon-button" style="color: green;">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <button mat-icon-button class="width-50 m-0 custom-icon-button" style="color: red;"
              (click)="DeleteLectureDialog(lecture.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="width-50 m-0 custom-icon-button" style="color: green;"
              (click)="editLectureDialog(lecture)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card-container">
        <app-course-details-card [course]="course"></app-course-details-card>
      </div>
    </div>
  </section>
</div>

<div *ngIf="!course" class="spinner flex justify-content-center">
  <mat-spinner></mat-spinner>
</div>
