<footer>
  <div class="container py-5">
    <div class="footer-content flex justify-content-between">
      <p class="text-white m-0">Powered by Doctor Mahmoud Ismail</p>

      <div class="social-icons flex gap-1">
        <ul>
          <li class="item">
            <a href="#">
              <i class="fab fa-facebook-f icon"></i>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-brands fa-instagram icon"></i>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-brands fa-linkedin icon"></i>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-brands fa-youtube icon"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
